* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

button {
  display: block;
}

img {
  display: block;
}

.load-wrapper {
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
